[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/abhirambsn/kali-docker-env/launch_kali.sh
Name=Kali Linux Environment
Icon=/home/abhirambsn/kali-docker-env/kali.png